[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
python-dateutil = "*"
imap-tools = "*"
html2text = "*"

[dev-packages]
textual-dev = "*"

[requires]
python_version = "3.11"
